# exchanges

In [1]:
import sys
sys.path.append('..')  # This adds the parent directory to the Python path

In [2]:
import time
import keyring
from coingeckoapi import CoinGeckoAPI

In [3]:
api_key = keyring.get_password('coingecko', 'analyst_api_key')

In [4]:
api = CoinGeckoAPI(api_key, pro_api=True)
status = api.status_check()
print("API Server Status:", status)

API Server Status: {'gecko_says': '(V3) To the Moon!'}

## /exchanges

In [5]:
all_exchanges = api.active_exchanges_list()
all_exchanges.head()

,id,name,year_established,country,description,url,image,has_trading_incentive,trust_score,trust_score_rank,trade_volume_24h_btc,trade_volume_24h_btc_normalized
0,okex,OKX,2017.0,Seychelles,,https://www.okx.com,https://assets.coingecko.com/markets/images/96...,False,10,1,45575.377534,41352.634874
1,bybit_spot,Bybit,2018.0,British Virgin Islands,Bybit is a cryptocurrency exchange that offers...,https://www.bybit.com,https://assets.coingecko.com/markets/images/69...,False,10,2,36985.463640,30553.414411
2,gdax,Coinbase Exchange,2012.0,United States,,https://www.coinbase.com/,https://assets.coingecko.com/markets/images/23...,False,10,3,30442.467807,30442.467807
3,gate,Gate.io,NaN,Cayman Islands,"Gate was established in 2013, and it is the to...",https://www.gate.io/,https://assets.coingecko.com/markets/images/60...,False,10,4,23837.779983,17758.974876
4,kucoin,KuCoin,2014.0,Seychelles,,https://www.kucoin.com/,https://assets.coingecko.com/markets/images/61...,False,10,5,17483.560741,13839.223696

## /exchanges/list

In [6]:
supported_exchanges = api.all_exchanges_list()
supported_exchanges

                         id            name
0    10kswap-starknet-alpha         10KSwap
1                      1bch            1BCH
2                 3xcalibur       3xcalibur
3                     9inch           9inch
4                      aave            Aave
..                      ...             ...
960                  zipmex          Zipmex
961                 zipswap         ZipSwap
962                  zircon          Zircon
963          zkswap-finance  zkSwap Finance
964               zyberswap       Zyberswap

[965 rows x 2 columns]

In [7]:
exchange_id='gdax'

## /exchanges/{id}

In [8]:
exchange_volume = api.exchange_volume_data(exchange_id)
print('Available Keys: {}'.format(sorted(exchange_volume.keys())))

Available Keys: ['alert_notice', 'centralized', 'country', 'description', 'facebook_url', 'has_trading_incentive', 'image', 'name', 'other_url_1', 'other_url_2', 'public_notice', 'reddit_url', 'slack_url', 'status_updates', 'telegram_url', 'tickers', 'trade_volume_24h_btc', 'trade_volume_24h_btc_normalized', 'trust_score', 'trust_score_rank', 'twitter_handle', 'url', 'year_established']

## /exchanges/{id}/tickers

In [9]:
exchange_tickers = api.exchange_market_tickers(exchange_id)
exchange_tickers.head()

,base,target,market,last,volume,converted_last,converted_volume,trust_score,bid_ask_spread_percentage,timestamp,last_traded_at,last_fetch_at,is_anomaly,is_stale,trade_url,token_info_url,coin_id,target_coin_id
0,BTC,USD,"{'name': 'Coinbase Exchange', 'identifier': 'g...",43927.61000,6.294995e+03,"{'btc': 1.000884, 'eth': 19.607249, 'usd': 43928}","{'btc': 6301, 'eth': 123428, 'usd': 276524085}",green,0.012572,2024-01-06T21:58:01+00:00,2024-01-06T21:58:01+00:00,2024-01-06T21:59:00+00:00,False,False,https://pro.coinbase.com/trade/BTC-USD,None,bitcoin,NaN
1,ETH,USD,"{'name': 'Coinbase Exchange', 'identifier': 'g...",2241.65000,4.783935e+04,"{'btc': 0.05102483, 'eth': 0.9994718, 'usd': 2...","{'btc': 2441, 'eth': 47814, 'usd': 107239087}",green,0.016690,2024-01-06T21:49:16+00:00,2024-01-06T21:49:16+00:00,2024-01-06T21:49:16+00:00,False,False,https://pro.coinbase.com/trade/ETH-USD,None,ethereum,NaN
2,USDT,USD,"{'name': 'Coinbase Exchange', 'identifier': 'g...",1.00065,1.748261e+08,"{'btc': 2.28e-05, 'eth': 0.00044664, 'usd': 1....","{'btc': 3986, 'eth': 78085, 'usd': 174939776}",green,0.010999,2024-01-06T21:58:01+00:00,2024-01-06T21:58:01+00:00,2024-01-06T21:59:00+00:00,False,False,https://pro.coinbase.com/trade/USDT-USD,None,tether,NaN
3,SOL,USD,"{'name': 'Coinbase Exchange', 'identifier': 'g...",94.37000,1.018696e+06,"{'btc': 0.00214965, 'eth': 0.04211001, 'usd': ...","{'btc': 2190, 'eth': 42897, 'usd': 96134312}",green,0.031790,2024-01-06T21:53:25+00:00,2024-01-06T21:53:25+00:00,2024-01-06T21:53:25+00:00,False,False,https://pro.coinbase.com/trade/SOL-USD,None,solana,NaN
4,LTC,USD,"{'name': 'Coinbase Exchange', 'identifier': 'g...",65.42000,1.024605e+05,"{'btc': 0.00148915, 'eth': 0.02916676, 'usd': ...","{'btc': 152.579, 'eth': 2988, 'usd': 6702966}",green,0.015281,2024-01-06T21:48:34+00:00,2024-01-06T21:48:34+00:00,2024-01-06T21:48:34+00:00,False,False,https://pro.coinbase.com/trade/LTC-USD,None,litecoin,NaN

## /exchanges/{id}/volume_chart

In [10]:
exchange_volume_data = api.exchange_historical_volume(exchange_id)
exchange_volume_data

                            volume
timestamp
2023-12-08 21:50:00   56639.660870
2023-12-09 21:50:00   42720.336929
2023-12-10 21:50:00   29649.726127
2023-12-11 21:50:00   82401.350343
2023-12-12 21:50:00   56176.379010
2023-12-13 21:50:00   59383.089791
2023-12-14 21:50:00   62318.561991
2023-12-15 21:50:00   54342.961578
2023-12-16 21:50:00   38772.978503
2023-12-17 21:50:00   31712.157575
2023-12-18 21:50:00   53268.007860
2023-12-19 21:50:00   50887.067504
2023-12-20 21:50:00   66504.083930
2023-12-21 21:50:00   58565.982688
2023-12-22 21:50:00   64959.476152
2023-12-23 21:50:00   35781.041921
2023-12-24 21:50:00   45909.060253
2023-12-25 21:50:00   41610.559148
2023-12-26 21:50:00   62837.611957
2023-12-27 21:50:00   60332.112648
2023-12-28 21:50:00   72448.464142
2023-12-29 21:50:00   64582.136981
2023-12-30 21:50:00   38688.880758
2023-12-31 21:50:00   40183.376799
2024-01-01 21:50:00   39577.006494
2024-01-02 21:50:00   78564.408498
2024-01-03 21:50:00  108776.538928
2024-01-04 21:50:00   61640.040394
2024-01-05 21:50:00   60779.860793
2024-01-06 21:50:00   30367.763229

## /exchanges/{id}/volume_chart/range

In [12]:
exchange_volume_between_dates = api.exchange_historical_volume(
    exchange_id, 
    from_date='01-01-2023',
    to_date='01-31-2023'
)
exchange_volume_between_dates

                            volume
timestamp
2023-01-02 05:50:00   28701.022888
2023-01-03 05:50:00   50701.253780
2023-01-04 05:50:00   72268.150652
2023-01-05 05:50:00   75079.150893
2023-01-06 05:50:00   56195.101532
2023-01-07 05:50:00   68835.195586
2023-01-08 05:50:00   28460.071844
2023-01-09 05:50:00   76580.339156
2023-01-10 05:50:00  114298.635360
2023-01-11 05:50:00   86885.481281
2023-01-12 05:50:00  108103.544477
2023-01-13 05:50:00  137644.784861
2023-01-14 05:50:00  169439.670468
2023-01-15 05:50:00  130796.257231
2023-01-16 05:50:00   89271.340480
2023-01-17 05:50:00  104507.618116
2023-01-18 05:50:00   92598.612508
2023-01-19 05:50:00  112149.727831
2023-01-20 05:50:00   76401.436333
2023-01-21 05:50:00  105410.261203
2023-01-22 05:50:00   94861.367114
2023-01-23 05:50:00   77753.224815
2023-01-24 05:50:00   93171.306678
2023-01-25 05:50:00  103359.855737
2023-01-26 05:50:00  100766.657507
2023-01-27 05:50:00   87097.723348
2023-01-28 05:50:00   74520.358824
2023-01-29 05:50:00   47090.634957
2023-01-30 05:50:00   65306.660548
2023-01-31 05:50:00  100247.965370

In [13]:
api.end_session()

'Session closed successfully.'